    <header>
        <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
            <div class="flex flex-wrap items-center justify-center gap-[25px] md:gap-[0px] md:justify-between max-w-screen-xl mx-auto">
                <a href="/" class="flex items-center">
                    <img src="https://flowbite.com/docs/images/logo.svg" class="h-6 mr-3 sm:h-9" alt="Motiv Express Logo" />
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Motiv Express</span>
                </a>
                <div class="flex items-center lg:order-2">
                    {% if app.user %}
                        <a href="{{ path('app_logout') }}" class="transition-all duration-200 text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
                            Déconnexion
                        </a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="transition-all duration-200 text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
                            Connexion
                        </a>
                        <a href="{{ path('app_register') }}" class="transition-all duration-200 text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
                            Inscription
                        </a>
                    {% endif %}     

                    <a href="{{ path('app_redirect') }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 bg-blue-700 hover:bg-blue-800 focus:outline-none dark:focus:ring-blue-800 transition-all duration-200">Get started</a>
                </div>
                <div class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                    <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                        <li>
                            <a href="{{ path('app_redirect') }}" class="transition-all duration-200 text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800" aria-current="page">Nouvelle lettre de motivation</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>